  <!-- Header -->
  <header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <div class="flex items-center space-x-2">
        <i class="fas fa-calendar-alt text-[#f97316] text-2xl"></i>
        <h1 class="text-xl font-bold text-black">EventSphere</h1>
      </div>
      <nav class="hidden md:flex space-x-6">
       
      </nav>
      <div class="flex items-center space-x-4">
        <button class="md:hidden text-gray-600">
          <i class="fas fa-bars text-xl"></i>
        </button>
        <div class="relative">
             <a routerLink="/register" class="mr-2 text-gray-600 hover:text-[#f97316] transition">Register</a>
        <a routerLink="/login" class="text-gray-600 hover:text-[#f97316] transition">Login</a>
          
        </div>
      </div>
    </div>
  </header>
